image:
  repository: payload-ecommerce-lakehouse-demo-dev
  pullPolicy: IfNotPresent

telemetry:
  enabled: true

logging:
  health_request: false  # Enable/disable health check request logs

env:
  - name: NODE_ENV
    value: "development"
  - name: DATABASE_URI
    value: "postgres://ecommerce:ecommerce@postgres-cluster-rw.postgres:5432/ecommerce?keepalives=1&keepalives_idle=30&keepalives_interval=10&keepalives_count=5"
  - name: PAYLOAD_SECRET
    value: "your-secret-key-here"
  - name: PAYLOAD_PUBLIC_SERVER_URL
    value: "http://payload-ecommerce-lakehouse-demo.default:3000"
  - name: NEXT_PUBLIC_SERVER_URL
    value: "http://payload-ecommerce-lakehouse-demo.default:3000"

ingress:
  enabled: false
