# shellcheck disable=all
ICEBERG_CATALOG_URL="http://lakekeeper.lakekeeper:8181/catalog"
ICEBERG_WAREHOUSE="ecommerce"
ICEBERG_NAMESPACE="ecommerce"
ICEBERG_TOKEN="xxx"

PAYLOAD_CMS_URL="http://localhost:3000/api"
PAYLOAD_CMS_TOKEN="xxx"
